.calendario {
    width: 90%;
    height: 5em;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 2fr);
    gap: 0;
    margin: 0;
    padding: 0;
    margin-left: 5em;
}

.elemento1 {
    grid-column-start: 7;
    border: 0.1em;
    border-style: solid;
    border-color: black;
    height: 8em;
    font-size: 1.5em;

}

.dias {
    border: 0.1em;
    border-style: solid;
    border-color: black;
    height: 8em;
    position: relative;
    font-size: 1.5em;
}

.dias-nombres {
    width: 90%;
    list-style: none;
    display: inline-grid;
    grid-template-columns: repeat(7, 2fr);
    gap: 0;
    margin: 0;
    background-color: #308791;
    font-size: 2em;
    padding: 0;
    margin-left: 2.5em;
}

.texto {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    text-align: justify;
    font-size: 1em;
    background-color: orange;
    border-radius: 5%;
    margin: 0.5em;
    
}
.texto2 {
    display: none;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1em;
    background-color: orange;
    border-radius: 5%;
    margin: 0.5em;
}

.texto-mes {
    margin-left: 5em;
}

.footer-especial
{
    margin-top: 70em;
}

li{
    font-size: 3vw;
}

@media only screen and (max-width: 768px) {
    .calendario {
        width: 100%;
        margin-left: 0;
        grid-template-columns: repeat(7, 1fr);
    }

    .elemento1,
    .dias {
        height: 6em;
        font-size: 1.2em;
    }

    .dias-nombres {
        width: 100%;
        margin-left: 0;
        font-size: 1.5em;
    }

    .texto {
        font-size: 0.9em;
    }

    .texto-mes {
        margin-left: 1em;
    }
}

@media only screen and (max-width: 1350px)
{
    .texto
    {
        font-size: 0.6em;
    }
}
@media only screen and (max-width: 500px) {
    .calendario {
        grid-template-columns: repeat(7, 1fr);
        width: auto;
    }


    .elemento1,
    .dias {
        height: 5em;
        font-size: 1em;
    }

    .dias-nombres {
        font-size: 1em;
    }

    .texto {
        display: none;
    }

    .footer-especial
    {
    margin-top: 30em;
    }

    .texto2
    {
        display: flex;
        font-size: 0.6em;
        padding: 0;
    }
}

