.calendario {
    width: 100%;
    height: 5em;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 2fr);
    gap: 0;
    margin: 0;
    padding: 0;
    margin-left: 0;
}

.elemento1 {
    grid-column-start: 7;
    border: 0.1em solid black;
    height: 8em;
    font-size: 1.5em;
}

.dias {
    border: 0.1em solid black;
    height: 8em;
    position: relative;
    font-size: 1.5em;
}

.dias-nombres {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 2fr);
    gap: 0;
    margin: 0;
    background-color: #308791;
    font-size: 2em;
    padding: 0;
    margin-left: 0;
}

.texto {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    text-align: justify;
    font-size: 1em;
    background-color: orange;
    border-radius: 5%;
    margin: 0.5em;
}

.texto2 {
    display: none;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1em;
    background-color: orange;
    border-radius: 5%;
    margin: 0.5em;
}

.texto-mes {
    margin-left: 0;
    text-align: center;
}

.footer-especial {
    margin-top: 70em;
}

li {
    font-size: 1em;
}

@media only screen and (max-width: 768px) {
    .calendario {
        width: 100%;
        margin-left: 0;
        grid-template-columns: repeat(7, 2fr);
    }

    .elemento1,
    .dias {
        height: 6em;
        font-size: 1.2em;
    }

    .dias-nombres {
        width: 100%;
        margin-left: 0;
        font-size: 1.5em;
    }

    .texto {
        font-size: 0.9em;
    }

    .texto-mes {
        margin-left: 1em;
    }
}

@media only screen and (min-width: 500px) and (max-width: 580px) {
    .calendario {
        grid-template-columns: repeat(7, 2fr);
        width: 100%;
        margin-left: 0;
    }

    .dias-nombres {
        width: 100%;
        margin-left: 0;
        font-size: 1.2em;
    }

    .elemento1,
    .dias {
        height: 4.5em;
        font-size: 1em;
    }
}

@media only screen and (max-width: 500px) {
    .calendario {
        grid-template-columns: repeat(7, 2fr);
        width: 100%;
        margin-left: 0;
    }

    .dias-nombres {
        width: 100%;
        margin-left: 0;
        font-size: 1em;
    }

    .elemento1,
    .dias {
        height: 5em;
        font-size: 1em;
    }

    .texto {
        display: none;
    }

    .footer-especial {
        margin-top: 30em;
    }

    .texto2 {
        display: flex;
        font-size: 0.6em;
        padding: 0;
    }

    .modal-container
    {
        width: 40%;
        max-width: 250px;
    }
}
.modal-container{
    display: none;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 80%; 
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    z-index: 1000;
    height: auto;
   
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3), 
                0px 2px 4px rgba(0, 0, 0, 0.2); 
                
    /* Animación suave al aparecer */
 
    transform: translate(-50%, -50%) scale(0.95);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1000; 
    
}
.modal
{}
.show
{
    pointer-events: auto;
    display: flex;
    transform: translate(-50%, -50%) scale(1);
}

.contenedor-botones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.boton-modal
{
  
  font-size: 2em;

  background-color: green;
}

.vinculo
{
    color: black;
    text-decoration: none;
}

.texto-curso
{
    font-size: 1em;
}

