body {
    font-size: 16px;
    font-family: "Krub", sans-serif;
    background-image: url(../img/FondoPlataformaDeCursosAlternativo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

/* Navegacion Principal */
.nav-background{
    background-color: white;
}

.navegacion-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    white-space: nowrap;
    
}

.navegacion-principal a{
    padding: 1em; /* si solo hay un valor se aplica el padding hacia las 4 direcciones*/
    color: black;
    text-decoration: none;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    width: max-content;
}

.sombreado {
    background-color: #fff; /* Color de fondo de la barra de navegación */
    padding: 15px; /* Espacio dentro de la barra */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra en la parte baja */
    position: relative; /* Asegura que el box-shadow se muestre correctamente */
    z-index: 100; /* Asegura que la barra esté encima de otros elementos */
}

@media (min-width: 1024px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}


.contenedor{
    max-width: 100%;
    margin: 0 auto;
}

.search{
    width: 80%;
    display: flex;
    text-align: center;
    padding: 14px;
    border-radius: 28px;
    background: #f6f6f6;
    transition: background 0.25s;
}
@media (min-width: 1024px) {
   .search{
    width: 70%;
   }
}

.search:focus-within{
    background: #f1f1f1;
}

.search-input{
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color: #333333;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
}

.search-input::placeholder,
.search-icon{
    color: rgba(0, 0, 0, 0.5);
}


.logo{
    height: auto;
    margin: 0 20px;
    width: 150px;
}
.Contendor-imagenes
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.imagen-principal{

    margin-top: 1em;
    width: 95%;
    height: 25em;
    border: 0.5em;
    border-color: rgb(230, 230, 230);
    border-style: solid;
    margin-left: 0.5rem;
    
   
}
.cursos{
    text-align: center;
    font-size: 40px;
    color: black;
    margin-top: 100px;
    font-weight: 100;
}
.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px; /* Para que no se choque con medios de pago */
}
.container .card{
    width: 27%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: right;
    margin: 2% 1% 2% 1%; /* Ajusta los márgenes si es necesario */
    transition: all 0.25s;
    padding-right: 1%;
    background-color: rgb(240, 230, 230);
    border-color: black;
    border-style: groove;


}
.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgb(0, 0, 0, 0.2);

}

.container .card img{
    width: 100%;
    height: 60%;
    padding: 2%;
}
.container .card h5,h4,h3{
    font-weight: 800; 
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 300;
    margin: 4%;
    margin-right: 0;

}
.container h2{
    font-weight: 300; 
    padding: 5%;
    font-size: 1.4rem;
    font-weight: 700;
    display: inline;
    text-align: left;

}

.container .card a{
    font-weight: 200;
    font-size: 1.5rem;
    text-decoration: none;
    border-style: solid;
    border-color: rgb(94, 92, 92);
    border-radius: 8%;
    border-width: 0.5rem;
    color: #ffffff;
    background-color: rgb(94, 92, 92);
    margin-top: 10%;
}
.container .card aside{
    text-align: left;
    width: 10%;
    display: inline;
}

.pago {
    text-align: center;
    font-size: 40px;
    color: black;
    margin-top: 100px;
    font-weight: 100;
}
.imagen-hero {
        margin-top: 1em;
        width: 25%;
        height: auto;
        border: 0.2em;
        border-color: rgb(230, 230, 230);
        border-style: solid;
        margin-left: 0.5rem;
        display: inline;
        align-items: center;
    }

footer {
    background-color: #c5c5c5;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    clear: both;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-section h2 {
    margin-top: 0;
}

.footer-section p {
    margin: 0;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.social-icon {
    margin: 0 5px;
    display: inline-block;
}

.social-icon img {
    width: 24px;
    height: 24px;
}
.medios-pago
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
}
.imagen-pago
{
    width: 10%;
    height: auto;
    margin-right: 1em;
}
.imagen-pago:last-child {
    margin-right: 0; 
  }

  .menu-item {
    position: relative; 
}

.menu-vertical {
    display: none;
    position: absolute;
    top: 100%; 
    list-style: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.menu-vertical li {
    margin: 0;
}

.menu-item:hover .menu-vertical {
    display: block;
}

.menu-vertical a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px;
}

.menu-vertical a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
/*
.degradado{
    position: absolute;
    background-image: linear-gradient(to top, var(--oscuro) 0%, transparent 60%);
    width: 100%;
    height: 100%;
}
*/