html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.imagen-curso {
    width: 100%;
    height: auto;
}

.imagen {
    background-size: cover;
    width: 100%;
}

.cuerpo-principal {
    display: inline-flex;
    flex-direction: row;
}

h2
{
    font-family: "Noto Serif", serif;
    margin-top: 0;
}

.contenido-curso {
    text-align: center;
    line-height: 1.5;
    background-color: rgba(7, 152, 236, 0.3);
    font-family: "Ubuntu", sans-serif;
}

.boton {
    height: 2em;
    border-radius: 15%;
    font-size: 1.5em;
    font-weight: bolder;
    margin-left: 0em;
    background-color: green;
    cursor: pointer;
}

.resaltado {
    font-size: 1.5em;
    font-weight: bolder;
}

.contendor-acordeon {
    width: 50%;
    margin: auto;
    margin-top: 2em;


}

.acordeon {
    background-color: white;
}

.acordeon label {
    display: block;
    padding: 1em;
    font-size: 1.5em;
    background:#004CE6;
    color: white;
    cursor: pointer;
    margin-bottom: 0.5em;
    transition: all 300ms ease;
    text-align: center;

}

.acordeon label:hover {
    background-color: rgba(3, 26, 39, 0.452);
}

.acordeon .contenido-acordeon {
    padding: 0;
    margin: 0 2em;
    max-height: 0;
    overflow: hidden;
    transition: all 300ms ease;

}

.btn-acordeon:checked~.contenido-acordeon {
    max-height: 600px;
    padding: 1em 0;

}

.btn-acordeon {
    display: none;
}

.menu-detalles {
    width: 50%;
    margin-left: 40em;

}

.elementos-acordeon {

    font-size: 1.5em;
}

.profesor-imagen-ubicacion {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    height: 13em;
    width: 30%;

}

.profesor-imagen {
    border-radius: 50%;
    width: 40%;
}

.contenedor-descripcion-profesor {

    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 2em;

}
.texto-profesor
{
    width: 70%;
}

.contenedor-cuerpo-curso {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 1.5em; /* Espacio entre columnas */
    margin: 1em;
}
.contenedor-cursoJava h2, a{
    text-align: center;
    align-items: center;
    align-content: center;
}
.contenedor-acordeon h2{
    text-align: center;
}


@media (min-width: 1440px) {
    .cuerpo-principal {
        grid-template-columns: repeat(2, 1fr);
        max-width: 1200rem;
        gap: 2rem;
    }

    .imagen {
        background-size: cover;
    }
}

 .menu-detalles {
        width: 90%;
        margin-left: 1em;
    }


.menu-hamburguesa {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
}

.menu-horizontal {
    display: flex;
    flex-direction: row;
    width: auto;
    text-align: center;
    background-color:#ffffff;
}

@media (max-width: 700px) {
    .menu-horizontal {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color:white;
    }

    .menu-hamburguesa {
        display: block;
    }

    .menu-horizontal.menu-abierto {
        display: flex;
    }

    .menu-item {
        padding: 10px 0;
    }

    .menu-link {
        color: white;
    }

    .menu-vertical {
        background-color: rgba(0, 0, 0, 0.8);
        padding: 0;
    }
    .contenedor-cursoJava h2, a{
        text-align: center;
        align-items: center;
        align-content: center;
    }
    .contenedor-acordeon h2{
        text-align: center;
    }
}

@media (max-width: 700px) 
{
.contenedor-cuerpo-curso
{
    display: flex;
    flex-direction: column;
}
}
.footer-container{
    display: grid;
}
.contenedor-cursoJava {
    display: flex;
    flex-direction: column; /* Hace que los elementos se apilen verticalmente */
    justify-content: space-between; /* Distribuye los elementos dejando espacio entre ellos */
    height: 100%; /* Hace que el contenedor ocupe todo el espacio vertical disponible */
}