* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../img/FondoPlataformaDeCursosAlternativo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
}

@media (min-width: 1024px) {
    .contenedor {
        flex-direction: row;
        align-items: center;
        column-gap: 2rem;
    }

    .contenedor-imagen {
        width: 100%;
    }
}

.contenedor-imagen {
    width: 60%;
    margin-bottom: 20px;
}


.logotipo {
    max-width: 100%;
}

.contenedor-IniciarSesion {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 350px;
}

.contenedor-IniciarSesion h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.contenedor-IniciarSesion label {
    display: block;
    font-size: 1rem;
    margin-bottom: 8px;
    color: #333;
}

.contenedor-IniciarSesion input[type="email"],
.contenedor-IniciarSesion input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contenedor-IniciarSesion input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.contenedor-IniciarSesion input[type="submit"]:hover {
    background-color: #218838;
}


.contenedor-IniciarSesion p {
    margin: 1rem 0;
    text-align: center;
}

.contenedor-IniciarSesion a {
    color: #007BFF;
    text-decoration: none;
    font-size: 0.9rem;
}

.contenedor-IniciarSesion a:hover {
    text-decoration: underline;
}

.boton-registro {
    display: block;
    margin-top: 20px;
    text-align: center;
    font-size: 1rem;
}

.boton-registro a {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.boton-registro a:hover {
    background-color: #0056b3;
}


.contenedor-restablecer {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

.contenedor-restablecer input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contenedor-restablecer input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.contenedor-restablecer input[type="submit"]:hover {
    background-color: #218838;
}

.contenedor-restablecer p {
    margin: 1rem 0;
    text-align: center;
}

.contenedor-restablecer h2 {
    text-align: center;
}

.contenedor-restablecer a {
    color: #007BFF;
    text-decoration: none;
    font-size: 0.9rem;
}

.contenedor-restablecer a:hover {
    text-decoration: underline;
}