.dias-semana
{
    display: flex;
    flex-direction: row;
    gap: 2em;
}
.fondo-calendario
{
    display: flex;
    justify-content: center;
    align-items: center;
   gap: 0;
   
}
.dias-mes
{
    display: grid;
    grid-template-columns: repeat(7,250px);
    grid-template-rows: repeat(5,250px);
    background-color: rgba(0, 104, 240, 0.527);
    row-gap: 0.005em;
    border: solid 0.1em black;
}

.item {
    border: solid 0.1em black;
  }

 .boton-comprar
 {
    background-color: rgb(255, 0, 0);
    padding: 1em;
    color: white;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }