* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Krub", sans-serif;
    background-image: url(../img/FondoPlataformaDeCursosAlternativo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

.nav-background {
    background-color: white;
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    white-space: nowrap;
}

.navegacion-principal a {
    padding: 1em;
    color: black;
    text-decoration: none;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    width: max-content;
}

.sombreado {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 100;
}

.contenedor {
    max-width: 100%;
    margin: 0 auto;
}

.search {
    width: 80%;
    display: flex;
    text-align: center;
    padding: 14px;
    border-radius: 28px;
    background: #f6f6f6;
    transition: background 0.25s;
}


.search:focus-within {
    background: #f1f1f1;
}

.search-input {
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color: #333333;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
}

.search-input::placeholder,
.search-icon {
    color: rgba(0, 0, 0, 0.5);
}

.logo {
    height: auto;
    margin: 0 20px;
    width: 150px;
}

footer {
    background-color: #c5c5c5;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    clear: both;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-section h2 {
    margin-top: 0;
}

.footer-section p {
    margin: 0;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.social-icon {
    margin: 0 5px;
    display: inline-block;
}

.social-icon img {
    width: 24px;
    height: 24px;
}

.medios-pago {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

.imagen-pago {
    width: 10%;
    height: auto;
    margin-right: 1em;
}

.imagen-pago:last-child {
    margin-right: 0;
}

.menu-item {
    position: relative;
}

.menu-vertical {
    display: none;
    position: absolute;
    top: 100%;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.menu-vertical li {
    margin: 0;
}

.menu-item:hover .menu-vertical {
    display: block;
}

.menu-vertical a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px;
}

.menu-vertical a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.seccion {
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 100%;
    background-image: url(../img/FondoPlataformaDeCursosAlternativo.jpg);
}

.selector {
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame {
    width: 80%;
    height: 75%;
    overflow: hidden;
    display: block;
    background-color: rgb(207, 206, 206);
    position: relative;
    border-style: solid;
}

.frame-texto {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.frame-texto h1 {
    margin: 0;
    font-size: 24px;
}


.frame-destinario {
    font-size: 2rem;
    margin: 0;
    padding-top: 10px;
    display: flex;

}

.fondo-negro {
    position: absolute;

    background-color: black;
    color: white;
    padding: 2% 7%;
    border-radius: 0 0 0 5px;
    font-size: larger;
    z-index: 10;
}


.aside-perso {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 20px;
    gap: 10px;
    background-color: white;
    border-radius: 20px;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.titulo {
    text-align: center;
    margin-bottom: 5%;
}

.destinatario {
    width: 100%;
    display: flex;
    text-align: center;
    padding: 14px;
    border-radius: 15px;
    background: #f6f6f6;
    transition: background 0.25s;
    justify-content: center;
}

.destinario-input {
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color: #333333;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
    text-align: left;
}

.destinario-input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.monto-input {
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color: #333333;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
    text-align: left;
}
.monto-input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}


.opciones h2 {
    font-weight: lighter;
    font-size: medium;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;

}

.circulos {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 1%;
    margin-bottom: 10%;
}

.circulos label {
    display: flex;
    cursor: pointer;
    padding: 5%;

}

.circulo-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.color-option {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;

}

.color-option.grey {
    background: gray;
}

.color-option.red {
    background: red;
}

.color-option.blue {
    background: cornflowerblue;
}

.color-option.green {
    background: green;
}

.color-option.violet {
    background: violet;
}

input[type="radio"]:checked+label.color-option {
    border: 1px solid #000;
}

.circulo-container input[type="radio"] {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10%;
}

.fuente {
    display: flex;
    justify-content: center;
    gap: 3%;
    margin-bottom: 5%;
    margin-top: 8%;
}

.fuente-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;

}

.fuente input[type="radio"] {
    display: flex;
    transform: translateY(50%);
    position: absolute;
    top: 50%;
    margin-left: 30%;
}

.fuente label {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    cursor: pointer;
    text-align: center;
    height: 50%;
}

.monto {
    width: 100%;
    display: flex;
    text-align: right;
    padding: 14px;
    border-radius: 15px;
    background: #f6f6f6;
    transition: background 0.25s;
    align-content: right;
}

.ubicacion {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 1%;
    margin-bottom: 10%;
}

.ubicacion-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
}


.ubicacion-option {
    width: 4em;
    height: 2.5em;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.ubicacion-option::before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: gray;
}

.cuadrado-izquierda:before {
    bottom: 0;
    left: 0;

}

.cuadrado-derecha::before {
    bottom: 0;
    right: 0;
}

.cuadrado-izquierda-arriba::before {
    top: 0;
    left: 0;
}

.cuadrado-derecha-arriba::before {
    top: 0;
    right: 0;
}

.ubicacion-option.cuadrado {
    border-style: solid;
    border-color: gray;

}

.ubicacion input {
    display: flex;
    transform: translateY(50%);
    position: absolute;
    top: 100%;
    margin-left: 40%;
}

.fondo {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 1%;
    margin-bottom: 10%;
}

.fondo-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.fondo-option {
    width: 3rem;
    height: 2.5rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;

}

.fondo-option.cuadrado {
    border-style: solid;
    border-color: gray;
    background-color: gray;

}

.fondo input {
    display: flex;
    transform: translateY(80%);
    position: absolute;
    top: 100%;
    margin-left: 40%;
}

.boton-container {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

#confirmar {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: gray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-content: center;

}

#confirmar:hover {
    background-color: rgb(58, 58, 58);
}








@media (max-width: 768px) {
    .navegacion-principal {
        flex-direction: column;
    }

    .search {
        width: 90%;
    }

    .aside-perso {
        width: 90%;
        padding: 10px;
    }

    .ubicacion-option {
        max-width: 3em;

    }

    .fondo-option {
        max-width: 3em;
    }

    .circulos {
        flex-direction: row;
        align-items: center;
    }

    .color-option {
        width: 2em;
        height: 2em;
    }

    .seccion {
        flex-direction: column;
    }

    .frame {
        width: 90%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .search {
        width: 100%;
    }

    .logo {
        width: 120px;
    }

    .frame {
        width: 95%;
        height: 30em;
    }

    .aside-perso {
        width: 100%;
        padding: 10px;
    }

    .ubicacion-option {
        max-width: 3em;

    }

    .fondo-option {
        max-width: 3em;
    }

}

@media (min-width: 1024px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }

    .search {
        width: 70%;
    }
}